HELP.md
backend/target/
!backend/target/hotel-app.jar
!backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*/.idea
*/*.iws
*/*.iml
*/*.ipr
.idea

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
build/
!backend/**/src/main/**/build/
!backend/**/src/test/**/build/


# Compiled output
frontend/dist/
frontend/tmp
frontend/out-tsc
frontend/bazel-out

# Angular local files
frontend/README.md

# Node
frontend/node_modules/
frontend/package-lock.json
npm-debug.log
yarn-error.log

# Visual Studio Code
frontend/.vscode/*
!frontend/.vscode/settings.json
!frontend/.vscode/tasks.json
!frontend/.vscode/launch.json
!frontend/.vscode/extensions.json
.history/*

# Miscellaneous
frontend/.angular/
frontend/.sass-cache/
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontend/testem.log
frontend/typings

# System files
.DS_Store
Thumbs.db

