.top{
  background-color: white;
  padding: 20px;
  width: 98%;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 1em;
}

.navbar a{
  text-decoration: none;
  color: teal;
  font-size: 2em;
  font-weight: lighter;

}

.navbar-item{
  margin-right: 1em;
}

.home-screen{
  padding: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.widget{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  margin-left: 50%;
}

.mat-card{
  width: 20rem;
  height: 15rem;
  margin-left: 40px;
  background-color: rgba(255,255,255,0.85);
}

.mat-card-title{
  font-weight: 700;
}

p {
  font-weight: 600;
}

.title h1{
  font-size: 50px;
  font-weight: bold;
  color: teal;
}

.widget{
  margin: 2em;
}

.navbar-btn{
    background: none!important;
    border: none;
    text-decoration: none;
    color: teal;
    font-size: 2em;
    font-weight: lighter;
    padding-top: 0px;
    padding-bottom: 0;
    size: auto;

}

.navbar-wrapper{
  display: flex;
  justify-content: space-between;
}

.navbar-container{
  padding: 1px;
  display: flex;
  flex-direction: column;
}

.navbar-item{
    margin-right: 1em;
}
